<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.FlavourFeed"
        tools:targetApi="31">
        <activity
            android:name=".Fragments.ViewUserInformationPage"
            android:exported="false" />
        <activity
            android:name=".Pages.UpgradeCardPage"
            android:exported="false" />
        <activity
            android:name=".Pages.AddFundsPage"
            android:exported="false" />
        <activity
            android:name=".AccountActionPage"
            android:exported="false" />
        <activity
            android:name=".Pages.MarketProfilePage"
            android:exported="false" />
        <activity
            android:name=".Pages.BannedPage"
            android:exported="false" />
        <activity
            android:name=".Pages.ConfirmationPage"
            android:exported="false" />
        <activity
            android:name=".Pages.ProductPage"
            android:exported="false" />
        <activity
            android:name=".Pages.AddProductPage"
            android:exported="false" />
        <activity
            android:name=".Pages.AdminDashboardPage"
            android:exported="false" />
        <activity
            android:name=".Pages.UserOrderPage"
            android:exported="false" />
        <activity
            android:name=".Pages.CartPage"
            android:exported="false" />
        <activity
            android:name=".Pages.MessagePage"
            android:exported="false" />
        <activity
            android:name=".Pages.ChatSearchPage"
            android:exported="false" />
        <activity
            android:name=".Pages.ChatRoomPage"
            android:exported="false" />
        <activity
            android:name=".Pages.PostPage"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Pages.ThemePage"
            android:exported="false" />
        <activity
            android:name=".Pages.DeleteAccountPage"
            android:exported="false" />
        <activity
            android:name=".Pages.ChangePasswordPage"
            android:exported="false" />
        <activity
            android:name=".Pages.ChangeEmailPage"
            android:exported="false" />
        <activity
            android:name=".Pages.SettingsPage"
            android:exported="false" />
        <activity
            android:name=".Pages.AddPostPage"
            android:exported="false" />
        <activity
            android:name=".Pages.EditProfilePage"
            android:exported="false" />
        <activity
            android:name=".Pages.MainPage"
            android:exported="false" />
        <activity
            android:name=".Pages.SignUpPage"
            android:exported="false" />
        <activity
            android:name=".Pages.LogInPage"
            android:exported="false" />
        <activity
            android:name=".Pages.WelcomePage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>